# Direct IPv6 Service Key Supabase URL
DATABASE_URL=

# Dashboard Integration
DASHBOARD_URL=https://realityware.hexaa.sh
DASHBOARD_BACKEND_URL=https://realityware.hexaa.sh/api
DASHBOARD_BACKEND_TOKEN=

# Slack Bot & App token
SLACK_BOT_TOKEN=
SLACK_APP_TOKEN=

# Channels
HELP_CHANNEL=
TICKETS_CHANNEL=

# (optional) Notification User
STARTUP_NOTIFICATION_USER_ID=
