# Next.js Environment Variables
ANALYZE=false
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Identity Encryption Key (must be exactly 64 hex characters (32 bytes))
ENCRYPTION_SECRET_KEY=

# Supabase Database Configuration
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_
SUPABASE_DATABASE_SECRET_KEY=sb_secret_
SUPABASE_DATABASE_DIRECT_IPV6=
SUPABASE_DATABASE_TRANSACTION_POOLER=
SUPABASE_DATABASE_SESSION_POOLER_NOT_RECOMMENDED=

# Posthog Tracking
NEXT_PUBLIC_POSTHOG_KEY=phc_
NEXT_PUBLIC_POSTHOG_HOST_API=/api/p
NEXT_PUBLIC_POSTHOG_HOST_UI=https://us.posthog.com

# Better Auth
BETTER_AUTH_SECRET=
HCA_CLIENT_ID=
HCA_CLIENT_SECRET=
HACKATIME_CLIENT_ID=
HACKATIME_CLIENT_SECRET=

# Slack Bot Integration
SLACK_BOT_BACKEND_API=http://localhost:3001
SLACK_BOT_BACKEND_TOKEN=

# Hack Club CDN - hexaa's api key btw
HC_CDN_API_KEY=sk_cdn_

# Sign Up Access/In RSVP State
NEXT_PUBLIC_SIGNUP_ACCESS_DISABLED=false
SIGNUP_ACCESS_BYPASS_PREFIX=
