# Next.js Environment Variables
ANALYZE=false
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=
SUPABASE_DATABASE_DIRECT_IPV6=
SUPABASE_DATABASE_TRANSACTION_POOLER=
SUPABASE_DATABASE_SESSION_POOLER_NOT_RECOMMENDED=

# Posthog Error Tracking
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST_API=/api/p
NEXT_PUBLIC_POSTHOG_HOST_UI=

# Better Auth
BETTER_AUTH_SECRET=
HCA_CLIENT_ID=
HCA_CLIENT_SECRET=
HACKATIME_CLIENT_ID=
HACKATIME_CLIENT_SECRET=

# Cloudflare R2 + Images - Unused for now
NEXT_PUBLIC_IMAGES_URL=https://r2.files.hexaa.sh
