# Next.js Environment Variables
ANALYZE=false
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Security (must be exactly 64 hex characters (32 bytes))
ENCRYPTION_SECRET_KEY=

# Supabase Database Configuration
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_
SUPABASE_DATABASE_SECRET_KEY=sb_secret_
SUPABASE_DATABASE_DIRECT_IPV6=
SUPABASE_DATABASE_TRANSACTION_POOLER=
SUPABASE_DATABASE_SESSION_POOLER_NOT_RECOMMENDED=

# Posthog Tracking
NEXT_PUBLIC_POSTHOG_KEY=phc_
NEXT_PUBLIC_POSTHOG_HOST_API=/api/p
NEXT_PUBLIC_POSTHOG_HOST_UI=https://us.posthog.com

# Better Auth
BETTER_AUTH_SECRET=
HCA_CLIENT_ID=
HCA_CLIENT_SECRET=
HACKATIME_CLIENT_ID=
HACKATIME_CLIENT_SECRET=

# Cloudflare R2 + Images - Unused for now
NEXT_PUBLIC_IMAGES_URL=https://r2.files.hexaa.sh
